<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="layout" content="page"/>
	<title>About</title>
	<meta name="permalink" content="/about/"/>
</head>
<body>

<blockquote>
<p>“If all mankind minus one, were of one opinion, and only one person were of the contrary opinion, mankind would be no more justified in silencing that one person, than he, if he had the power, would be justified in silencing mankind.” - John Stuart Mill, On Liberty</p>
</blockquote>

<p>Hi! After living abroad for 17 years I have moved to Sweden in 2004. Here I learned the building blocks to my foundation as not only a human being, but as an Indiviual as well. After studying film at my High School, I knew what was to come. I of course moved to New York City in 2009 and studied Documentary Filmmaking at the New York Film Academy. After completion I moved back to Sweden and began working within the film industry here. I met many good people along the way and finally arrived at my next conclusion, Web Development! So about a year ago I began `code. This is my blog, the history of setbacks and wins. Of positives and the negatives. And most importantly, my prospective future. </p>

<p>Be sure to head over to my contact page if you wish to contact me! </p>

</body>
</html>
